.movie-list-item-img-sm {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 0.5rem;
}

.side-video-list-item {
  display: flex;
}

.img-container-more-video {
  margin: 0 1rem;
}

.movie-list-item-img-sm {
  width: 8rem;
  height: 5rem;
}

.side-channel-details {
  font-size: 0.8rem;
  padding-top: 0.5rem;
  font-weight: normal;
}

@media only screen and (max-width: 1082px) {
  .single-video-container {
    flex-basis: 65%;
  }

  .more-movie-list-container {
    flex-basis: 30%;
  }

  .movie-list-title {
    margin-top: 1rem;
  }
}

@media only screen and (max-width: 940px) {
  .single-page-container {
    display: flex;
    flex-direction: column;
  }

  .movie-list {
    display: flex;
    justify-content: space-between;
  }

  .side-video-list-item {
    margin-right: 1rem;
  }
}

@media only screen and (max-width: 615px) {
  .btn-video {
    margin: 0.5rem;
  }

  .movie-list {
    width: 100%;
    flex-direction: column;
  }

  .side-video-list-item {
    width: 100%;
    flex-direction: column;
  }

  .img-container-more-video {
    margin: 0;
  }

  .movie-list-item-img-sm {
    width: 100%;
    height: 12rem;
  }
}

@media only screen and (max-width: 458px) {
  .side-video-list-item {
    display: flex;
    flex-direction: column;
    margin-right: 0.5rem;
    width: 100%;
  }

  .img-container,
  .movie-list-item-img {
    width: 100%;
  }

  .img-container {
    margin: 0.6rem 0;
  }
}
