.navbar {
  width: 100%;
  box-sizing: border-box;
  background-color: var(--dark-bg);
  padding: 1rem 4rem;
  position: sticky;
  display: flex;
  align-items: center;
  color: var(--white-color);
  z-index: 20;
}

.add-shadow {
  box-shadow: 0 -5px 20px 0 var(--grey-md-color);
}

.logo-container {
  flex: 1;
}

.logo-container > div {
  font-size: 1.5rem;
  font-weight: 600;
}

.menu-container {
  flex: 6;
}

.menu-list {
  display: flex;
  list-style: none;
}

.menu-list-item {
  margin-right: 1.2rem;
}

.search-box {
  background-color: var(--md-bg);
  padding: 0.7rem 1rem;
  border-radius: 1.5rem;
  width: 19rem;
  display: flex;
  justify-content: space-between;
  margin-right: 1rem;
}

.search-box > input {
  background: transparent;
  border: none;
  outline: none;
}

::placeholder {
  color: var(--grey-color);
}

.profile-container {
  flex: 2;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.profile-text-container {
  display: flex;
  align-items: center;
  margin: 0 20px;
}

.profile-picture {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 0.5rem;
}

.toggle {
  width: 40px;
  height: 20px;
  background-color: var(--white-color);
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: relative;
  border: 0.5px solid var(--white-color);
}

.toggle-icon {
  color: var(--gold-color);
}

.toggle-ball {
  width: 18px;
  height: 18px;
  background-color: var(--black-color);
  position: absolute;
  right: 1px;
  border-radius: 50%;
  cursor: pointer;
  transition: 1s ease all;
}

.sidebar {
  width: 100%;
  padding: 1rem 0;
  background-color: var(--dark-bg);
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  display: none;
  z-index: 1;
  box-shadow: 0px 10px 23px 0 var(--white-color);
}

.left-menu-icon {
  height: 2.2rem;
}

.left-menu-icon.active {
  color: var(--white-color);
}

.toggle.active {
  background-color: var(--black-color);
}

.toggle-ball.active {
  background-color: var(--white-color);
  transform: translateX(-20px);
}

@media only screen and (max-width: 940px) {
  .menu-container {
    display: none;
  }
  .sidebar {
    display: flex;
  }
  .search-box {
    display: none;
  }
  .navbar {
    padding: 1rem;
  }
}
